# Matrix-сервер
MATRIX_HOMESERVER=https://your-matrix-server.example.com
MATRIX_ACCESS_TOKEN=your_access_token_here
MATRIX_USER_ID=@username:your-matrix-server.example.com
MATRIX_DEVICE_ID=redmine_bot

# Matrix-комнаты
MATRIX_ROOM_ID=!your_room_id:your-matrix-server.example.com
MATRIX_TEAM_ROOM_ID=
STATUS_ROOM_MAP={}

# Redmine
REDMINE_URL=https://your-redmine.example.com
REDMINE_API_KEY=your_api_key_here

# Таймзона
BOT_TIMEZONE=Europe/Moscow
